#navbar {
  position: fixed;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  z-index: 2;
}

button {
  font-size: 17px;
  color: black;
  margin: 5px;
}

#site-button {
  font-size: 20px;
}

button:hover {
  opacity: .8;
}

.nav-container {
  display: flex;
}

.nav-links {
  position: absolute;
  right: 20px;
}