<div id="navbar">
  <div class="nav-container">
    <button mat-button routerLink="/movies" class="app-title" id="site-button">
      Star Wars Central
    </button>
    <div class="nav-links">
      <button
              mat-raised-button
              color="primary"
              (click)="
            showProfileDialog(
              userData.Username,
              userData.Password,
              userData.Email,
              userData.Birthday
            )"
          >
              Profile
          </button>
      <button mat-raised-button color="basic" class="logout" (click)="logoutUser()">
        Logout
      </button>
    </div>
  </div>
</div>
