<div class="body">
  <mat-dialog-content class="user-profile">
    <mat-card class="profile-info">
      <mat-card-header>
        <mat-card-title class="your-info"> Your Profile Info: </mat-card-title>
      </mat-card-header>
      <hr />
      <mat-card-content> Username: {{data.Username}} </mat-card-content>
      <mat-card-content> Password: ******** </mat-card-content>
      <mat-card-content> Email: {{data.Email}} </mat-card-content>
      <mat-card-content>
        Birthday: {{data.Birthday | date: "MM/dd/yyyy":"UTC" }}
      </mat-card-content>
      <mat-card-actions>
        <div class="profile-buttons">
          <button
            class="update-profile"
            mat-raised-button
            color="basic"
            (click)="profileUpdateDialog()"
          >
            Update Profile
          </button>
          <button
            class="delete-profile"
            mat-raised-button
            color="warn"
            (click)="deleteUser()"
          >
            Delete Profile
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>

  <mat-dialog-content class="favorites-container">
    <!-- <mat-card-content> -->
    <div class="title-container">
      <mat-card-title class="title">Your Favorite Movies:</mat-card-title>
    </div>
    <!-- </mat-card-content> -->
    <div class="favorite-cards">
      <mat-card class="favorite" *ngFor="let favorite of favoriteMovies">
        <img src="{{ favorite.ImagePath }}" alt="{{ favorite.Title }}" />
        <div class="favorite-title">
          <mat-card-title>{{ favorite.Title }}</mat-card-title>
        </div>
        <br><br>
        <div class="remove-favorite">
          <!-- <mat-card-actions> -->
          <button
            class="remove-button"
            mat-raised-button
            color="primary"
            (click)="removeFromFavorites(favorite._id, favorite.Title)"
          >
            Remove From favorites
          </button>
          <!-- </mat-card-actions> -->
        </div>
        <br><br>
      </mat-card>
    </div>
  </mat-dialog-content>
</div>